@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: "Poppins";
}

.img{
    float: left; 
    height: 200px; 
    margin: 40px 10px 10px 0px; 
    width: auto;
    position: horizontal;
}

.bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-dark.scrolled {
    background: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(115, 115, 115, 0.2);
}

.nav-link.scrolled {
    color: #232323 !important;
}

.navbar-brand.scrolled {
    color: #232323 !important;
    transition: 0.75s ease;
}

.text-white.scrolled {
    color: #232323 !important;
}

.btn {
    height: 40px;
    padding: 0 24px;
}

.active {
    font-weight: bold;
}

.top-50px {
    top: -50px;
}

.bg-feedback {
    background-color: #F5F3EB !important;
}

.name {
    font-weight: bold;
}

.scroll-smooth{
    scroll-behavior: smooth;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.jumbotron {
    padding: 2rem 1rem;
    padding-top: 19rem !important;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.nofocus:focus, .nofocus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.w-80{
    width: 80% !important;
}

.timeReservation{
    height: 48px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #FFC876;
    font-size: 16px;
    font-weight: 500;
}