@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: "Poppins";
}

.img{
    float: left; 
    height: 200px; 
    margin: 40px 10px 10px 0px; 
    width: auto;
    position: horizontal;
}

.bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-dark.scrolled {
    background: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(115, 115, 115, 0.2);
}

.nav-link.scrolled {
    color: #232323 !important;
}

.navbar-brand.scrolled {
    color: #232323 !important;
    transition: 0.75s ease;
}

.text-white.scrolled {
    color: #232323 !important;
}

.btn {
    height: 40px;
    padding: 0 24px;
}

.active {
    font-weight: bold;
}

.top-50px {
    top: -50px;
}

.bg-feedback {
    background-color: #F5F3EB !important;
}

.name {
    font-weight: bold;
}

.scroll-smooth{
    scroll-behavior: smooth;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.jumbotron {
    padding: 2rem 1rem;
    padding-top: 19rem !important;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.nofocus:focus, .nofocus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.w-80{
    width: 80% !important;
}

.timeReservation{
    height: 48px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #FFC876;
    font-size: 16px;
    font-weight: 500;
}

.timeReservation:hover {
    background: #C37B52;
    text-decoration: none;
}

.bg-cream{
    background-color: #F5F3EB;
}

.today {
    border-radius: 20px;
    background-color: #C37B52;
    color: white;
    border: 0px;
    padding: 8px 16px;
    top: -24px;
    font-weight: 600;
}


#complete{
    transition: 0.5s;
    right: -100%;
}

#upcoming{
    transition: 0.5s;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.button-activity{
    color: #5F6C70;
    /* transition: 0.5s; */
    border: none;
    background-color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    padding-bottom: 6px;
}
.activity-active{
    color: #C37B52;
    border-bottom: #C37B52 2px solid;
    margin-bottom: 16px;
}

.btn-upload{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #C37B52;
    border: 0;
    overflow: hidden;
    transition: 0.2s;
}

.btn-upload input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(5);
    opacity: 0;
}

.btn-upload :hover {
    background: #d9a400;
}